# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/build
*.o
*.gch
*.d.ts
*.js
*.js.map
ar-signal-monitor-test
!fake-pigpio-check.js

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
/.vs
/Debug
*.sln
*.vcxproj
*.vcxproj.*
/x64

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
